*{
    padding: 0%;
    margin: 0%;
}

.cardfurn{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.card{
    margin: 10px;
}

@media(max-width: 400px){

    .cardfurn{
        margin-bottom: 20px;
    }

}
